<div class="js-geona-admin__setup-database row">
  <h2>{{t 'admin:setup.database.pageHeading'}}</h2>
  <p>{{t 'admin:setup.database.introText'}}</p>

  <div id="feedback" class="panel panel-danger" style="display:none;"> 
    <div class="panel-heading"> 
      <h3 class="panel-title">{{t 'common:error' }}</h3>
    </div> 
    <div class="panel-body"><ul id="feedback-text"></ul></div> 
  </div>

  <form class="validation-checks" method="post">
    <p>{{t 'admin:setup.database.databaseOption' }}</p>
    <div class="radio">
      <label>
        <input type="radio" name="databaseType" value="sqlite3" checked="checked" />
        SQLite
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="databaseType" value="postgres" />
        Postgres
      </label>
    </div>

    <div class="use_sqlite">
      <h3>SQLite</h3>
            
      <div class="form-group">
          <label class="control-label">{{t 'admin:setup.database.sqlitePath' }}</label>
          <input type="text" class="form-control" name="sqlitePath" value="{{ content.sqlitePath }}" required="" />
      </div>
    </div>

    <div class="hidden use_postgres">
      <h3>PostgreSQL</h3>
            
      <div class="form-group">
          <label class="control-label">{{t 'admin:setup.database.postgresServer' }}</label>
          <input type="text" class="form-control" name="postgresServer" value="{{ content.postgresServer }}" required="" />
      </div>
      
      <div class="form-group">
          <label class="control-label">{{t 'admin:setup.database.postgresPort' }}</label>
          <input type="text" class="form-control" name="postgresPort" value="{{ content.postgresPort }}" required="" />
      </div>
      
      <div class="form-group">
          <label class="control-label">{{t 'admin:setup.database.postgresDbName' }}</label>
          <input type="text" class="form-control" name="postgresDbName" value="{{ content.postgresDbName }}" required="" />
      </div>
      
      <div class="form-group">
          <label for="google_clientId" class="control-label">{{t 'admin:setup.database.postgresUsername' }}</label>
          <input type="text" class="form-control" name="postgresUsername" required="" />
      </div>

      <div class="form-group">
          <label for="google_secret" class="control-label">{{t 'admin:setup.database.postgresPassword' }}</label>
          <input type="text" class="form-control" name="postgresPassword" required="" />
      </div>
      
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <button type="submit" name="btn-submit" class="btn btn-primary pull-right">Save</button>
      </div>
    </div>

  </form>
</div>

<script>

  // form validation
  validationSettings = {
    rules: {
      provider: {
        required: true,
        minlength: 1,
      },
      administrators: {
        multipleemail: true,
      },
    },
    messages: {
      sqlitePath: "{{t 'admin:validation.database.sqlitePath' }}",
      postgresServer: "{{t 'admin:setup.database.postgresServer' }} {{t 'common:isRequired' }}",
      postgresPort: "{{t 'admin:setup.database.postgresPort' }} {{t 'common:isRequired' }}",
      postgresDbName: "{{t 'admin:setup.database.postgresDbName' }} {{t 'common:isRequired' }}",
      postgresUsername: "{{t 'admin:setup.database.postgresUsername' }} {{t 'common:isRequired' }}",
      postgresPassword: "{{t 'admin:setup.database.postgresPassword' }} {{t 'common:isRequired' }}",
    },
  };

</script>