<div class="js-geona-admin__setup-oauth">
  <h2>{{t 'admin:setup.oauth.pageHeading'}}</h2>
  <p>{{t 'admin:setup.oauth.introText'}}</p>

  <div id="feedback" class="panel panel-danger" style="display:none;"> 
    <div class="panel-heading"> 
      <h3 class="panel-title">{{t 'common:error' }}</h3>
    </div> 
    <div class="panel-body"><ul id="feedback-text"></ul></div> 
  </div>

  <form class="validation-checks" method="post">
    <div class="panel panel-default">
      <div class="panel-heading"><b>{{t 'admin:setup.oauth.administrators' }}</b></div>

      <div class="panel-body" id="add_google_oauth">
        <div class="form-group">
          <p>{{t 'admin:setup.oauth.administratorsExplanation' }}</p>
          <label class="control-label">{{t 'admin:setup.oauth.administrators' }}</label>
          <input type="text" class="form-control" name="administrators" required="" />
        </div>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">
        <label class="control-label">
          <input type="checkbox" name="provider" id="google" class="js-geona-admin__setup-provider" />
          Google
        </label>
      </div>

      <div class="panel-body hidden" id="add_google_oauth">
        <h3>Google OAuth</h3>
        <p>{{t 'admin:setup.oauth.googleIntro' }}</p>
        
        <div class="form-group">
            <label class="control-label">{{t 'admin:setup.oauth.authorizedJavascriptOrigins' }}</label>
            <input type="text" class="form-control" readonly="readonly" onclick="this.focus();this.select()" value="{{ content.authorizedOrigin }}" />
        </div>
        
        <div class="form-group">
            <label class="control-label">{{t 'admin:setup.oauth.authorizedRedirectUris' }}</label>
            <input type="text" class="form-control" readonly="readonly" onclick="this.focus();this.select()" value="{{ content.authorizedRedirectURI }}" />
        </div>
        
        <div class="form-group">
            <label for="google_clientId" class="control-label">{{t 'admin:setup.oauth.clientId' }}</label>
            <input type="text" class="form-control" name="google_clientId" group="google" required="" />
        </div>

        <div class="form-group">
            <label for="google_secret" class="control-label">{{t 'admin:setup.oauth.secret' }}</label>
            <input type="text" class="form-control" name="google_secret" group="google" required="" />
        </div>
        
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <label class="control-label">
          <input type="checkbox" name="provider" id="github" class="js-geona-admin__setup-provider" />
          GitHub
        </label>
      </div>

      <div class="panel-body hidden" id="add_github_oauth">
        <h3>GitHub OAuth</h3>
        <p>{{t 'admin:setup.oauth.GutHubIntro' }}</p>
        
        <div class="form-group">
            <label class="control-label">{{t 'admin:setup.oauth.GitHubHomepageUrl' }}</label>
            <input type="text" class="form-control" readonly="readonly" onclick="this.focus();this.select()" value="{{ content.authorizedOrigin }}" />
        </div>
        
        <div class="form-group">
            <label class="control-label">{{t 'admin:setup.oauth.GitHubCallbackUrl' }}</label>
            <input type="text" class="form-control" readonly="readonly" onclick="this.focus();this.select()" value="{{ content.GitHubCallbackUrl }}" />
        </div>
        
        <div class="form-group">
            <label for="google_clientId" class="control-label">{{t 'admin:setup.oauth.clientId' }}</label>
            <input type="text" class="form-control" name="github_clientId" group="github" required="" />
        </div>

        <div class="form-group">
            <label for="google_secret" class="control-label">{{t 'admin:setup.oauth.secret' }}</label>
            <input type="text" class="form-control" name="github_secret" group="github" required="" />
        </div>
        
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <button type="submit" name="btn-submit" class="btn btn-primary pull-right">Save</button>
      </div>
    </div>

  </form>
</div>

<script>

  // form validation
  validationSettings = {
    rules: {
      provider: {
        required: true,
        minlength: 1,
      },
      administrators: {
        multipleemail: true,
      },
    },
    messages: {
      administrators: "{{t 'admin:validation.oauth.administrators' }}",
      provider: "{{t 'admin:validation.oauth.provider' }}",
      google_clientId: "{{t 'admin:validation.oauth.google_clientId' }}",
      google_secret: "{{t 'admin:validation.oauth.google_secret' }}",
      github_clientId: "{{t 'admin:validation.oauth.github_clientId' }}",
      github_secret: "{{t 'admin:validation.oauth.github_secret' }}",
    },
  };

</script>