<div class="js-geona-options-panel-content geona-options-panel-content">
  <h3>Map Options</h3>
  <label>Select basemap</label>
  <select class="js-geona-options-panel-content__basemaps">
    <option>None</option>
    {{#each data.basemaps}}
      <option value={{this.identifier}}>{{this.identifier}} - {{this.title}}</option>
    {{/each}}
  </select>
  <br>
  <label>Select borders</label>
  <select class="js-geona-options-panel-content__borders">
    <option>None</option>
    {{#each data.borders}}
      {{#each this.styles}}
        <option value={{this}}>{{../this.identifier}} ({{this}}) - {{../this.title}}</option>
      {{/each}}
    {{/each}}
  </select>
  <br>
  <label>Display graticule</label>
  <input type="checkbox" class="js-geona-options-panel-content__graticule"></input>
  <br>
  <label>Select projection</label>
  <select class="js-geona-options-panel-content__projection">
    <option>EPSG:4326</option>
    <option>EPSG:3857</option>
  </select>
</div>